<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__wrapper">
          <div class="header__logo">
            <h1>ThusanHouse</h1>
          </div>
          <nav class="header__nav"><a href="#">Trang Chủ</a><a href="">Giới thiệu </a><a href="">Tour</a><a href="">Blog  </a><a href="">Hình Ảnh</a><a href="">Liên hệ</a></nav>
          <div class="header__language"><a href=""> <img src="../../assets/images/vn.png" alt=""></a><a href=""> <img src="../../assets/images/us.png" alt=""></a><a href=""> <img src="../../assets/images/jp.png" alt=""></a></div>
        </div>
      </div>
    </header>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__upper">
            <div class="footer__upper-left">
              <h1>Thusanhouse</h1>
              <div>Cung cấp các tour du lịch Bến Tre đậm bản sắc miền Tây, giúp bạn trải nghiệm cuộc sống sông nước, tham quan vườn trái cây, làng nghề truyền thống và thưởng thức đặc sản miền Tây, lưu giữ những kỷ niệm đẹp về vùng đất hiền hòa, mến khách.</div>
            </div>
            <div class="footer__upper-right">
              <h2>Liên hệ</h2>
              <div class="footer__upper-right-contact">
                <div> <i class="fa-solid fa-phone"></i><span>0913657344</span></div>
                <div> <i class="fa-solid fa-envelope"></i><span>thusanhouse@gmail.com</span></div>
              </div>
            </div>
            <div class="footer__social"><a href="#"><i class="fa-brands fa-facebook"></i></a><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a><a href="#"><i class="fa-brands fa-youtube"></i></a></div>
          </div>
        </div>
      </div>
      <div class="footer__copyright">Copyright © 2024 Thusanhouse. All right reserved. Designed by tuanemtramtinh.</div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"> </script>
    <script src="../../assets/js/script.js"></script>
  </body>
</html>