<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__wrapper">
          <div class="header__logo"></div>
          <nav class="header__nav"><a href="">Trang Chủ</a><a href="">Giới thiệu </a><a href="">Đặt Tour</a><a href="">Blog  </a><a href="">Hình Ảnh</a><a href="">Liên hệ</a></nav>
          <nav class="header__auth"> <a href="">Register </a><a href="">Login </a></nav>
          <div class="header__language"><img src="../../assets/images/vn.png" alt=""><img src="../../assets/images/us.png" alt=""><img src="../../assets/images/jp.png" alt=""></div>
        </div>
      </div>
    </header>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__upper"></div>
          <div class="footer__copyright"></div>
        </div>
      </div>
    </footer>
  </body>
</html>