doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css")
    link(rel="stylesheet" href="../../assets/css/style.css")
    block title
  body

    header(class="header")
      div(class="container")
        div(class="header__wrapper")
          div(class="header__logo")
            h1 ThusanHouse
          nav(class="header__nav")
            a(href="#") Trang Chủ
            a(href="") Giới thiệu 
            a(href="") Tour
            a(href="") Blog  
            a(href="") Hình Ảnh
            a(href="") Liên hệ
          //- nav(class="header__auth") 
          //-   a(href="") Đăng ký
          //-   a(href="") Đăng Nhập
          div(class="header__language")
            a(href="") 
              img(src="../../assets/images/vn.png" alt="")
            a(href="") 
              img(src="../../assets/images/us.png" alt="")
            a(href="") 
              img(src="../../assets/images/jp.png" alt="")

    block main
    
    footer(class="footer")
      div(class="container")
        div(class="footer__wrapper")
          div(class="footer__upper")
            div(class="footer__upper-left")
              h1 Thusanhouse
              div Cung cấp các tour du lịch Bến Tre đậm bản sắc miền Tây, giúp bạn trải nghiệm cuộc sống sông nước, tham quan vườn trái cây, làng nghề truyền thống và thưởng thức đặc sản miền Tây, lưu giữ những kỷ niệm đẹp về vùng đất hiền hòa, mến khách.
            div(class="footer__upper-right")
              h2 Liên hệ
              div(class="footer__upper-right-contact")
                div 
                  i(class="fa-solid fa-phone")
                  span 0913657344
                div 
                  i(class="fa-solid fa-envelope")
                  span thusanhouse@gmail.com
            div(class="footer__social")
                a(href="#")
                  i(class="fa-brands fa-facebook")
                a(href="#")
                  i(class="fa-brands fa-instagram")
                a(href="#")
                  i(class="fa-brands fa-twitter")
                a(href="#")
                  i(class="fa-brands fa-youtube")
      div(class="footer__copyright")
        | Copyright © 2024 Thusanhouse. All right reserved. Designed by tuanemtramtinh.


    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js") 
    script(src="../../assets/js/script.js")


